.product-card-group{
    width: fit-content;
    margin: auto;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    justify-content:center;
}

.our-products
{
    width: 64%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    margin: auto;
    padding: 20px;
    margin-top: 20px;
}

@media screen and (max-width:1200px) 
{
    .our-products
    {
        width: 90% !important;
    }
}

@media screen and (max-width:1000px) {
    .our-products{
        width: 100% !important;
    }
}
