.product-card-group{
    width: fit-content;
    margin: auto;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    justify-content:center;
}

.our-products
{
    width: 60%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    margin: auto;
    padding: 20px;
    margin-top: 20px;
}

@media screen and (max-width:600px) {
    .our-products{
        width: 100%;
    }
}
