.card-img-top{
    object-fit: contain;
    height: fit-content;
}

.card-image{
    width: 60%;
}

#card{
    width: fit-content !important;
    max-width: 250px;
    padding: 20px !important;
    height: 280px !important;
}

.card{
    text-align: center;
    align-items: center;      
    margin: 5px  0px !important;
}

.card-text{
    margin: auto;
}