.contact{
    margin: 100px auto !important;
    box-shadow: 0px 10px 20px 5px rgba(205, 204, 204, 0.5);
    border-radius: 10px;
    transition: 1s;
    padding: 20px;
    background: rgb(248, 248, 248);
}

input,textarea{
    margin: 20px !important;
    padding: 10px;
    width: 20vw;
    background-color: #fff;
    border: #7ddcdc 2px solid;
}

textarea:focus
{
    border: #7ddcdc 2px solid !important;
}

button{
    padding: 8px 20px;
    background-color: #7ddcdc;
    border: none;
    color:rgb(0, 0, 0);
    font-size: large;
    font-weight: 450;
}

.con-addr > a > img
{
    width:10%;
    
}

.con-addr > a{
    margin: 0px 10px;
}




.img > img{
    object-fit: cover;
    width:90%;
    margin: auto;
}

.card{
    margin: 30px 0px;
}

.form{
    display: flex;
    align-items: center;
}

.fa{
    width: 50px;
    font-size: 30px;
    color: #34e8e8;
}

@media screen and (max-width:600px) {
    input,textarea{
        margin: 20px !important;
        padding: 10px;
        width: max-content;
    }
    
    .container{
        width: 90% !important;
    }
}