
.footer{
    /* background-color: rgba(153, 216, 219, 0.24); */
    background-color: #cbfbfbd6;
    padding:20px 10%;
 
}

.footer-row{
    width: 80%;
    margin:auto !important;
}


.footer-row > .col > ul{
    list-style-type: none;
} 

.card-title{
    padding: 10px;
}

.brand-col{
    display: flex;
    align-items: center;
}

.brand-col > a >img{
    width: 70%;
}

.head{
    font-weight: 500;
    text-transform: uppercase;
}

.flex{
    display: flex;
    justify-content: space-between !important;
}

li{
    list-style-type: none;
}

footer > p{
    text-align: center;
    font-size: small;
    margin-bottom: 0px !important;
}

.col-sm-4{
    margin: auto !important;
}

@media screen and (max-width:600px) {
    
    .footer{
        padding: 10px;
        text-align: center;
    }

    .col{
        margin: auto;
    }

    .col-sm-4{
        margin-bottom:20px;
        /* margin: auto; */
    }

    .platforms{
        width: fit-content;
    }

    .services{
        padding: 0px !important;
    }

    ul{
        padding-left: 0 !important;
    }

}